---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="title-block">
    <h1>
      <a href="#"><span class="light">STORE</span>CRAFT</a>
    </h1>
    <h2>
      thoughtful online shop engineering + passive <a href="#">self promotion</a>
    </h2>
  </div>

  <nav>
    <li>
      <a href="#">
        <span class="link-text">summary</span>
        <span class="link-descript">about + resume</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-text">thoughts</span>
        <span class="link-descript">writings on eComm + development</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-text">contact</span>
        <span class="link-descript">ways to reach me</span>
      </a>
    </li>
  </nav>
</header>

<style>
  header {
    grid-column: span 12;
    display: grid;
    grid-template-columns: subgrid;
    padding: 16px 0 4px 0;
    border-bottom: 3px solid #000;
    margin: 0;
  }

  .title-block {
    grid-column: span 6;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr auto;

    h1 {
      grid-column: span 12;
      font-size: 5vw;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
      a {
        text-decoration: none;
      }
    }

    h2 {
      grid-column: span 12;
      grid-row-start: 2;
      font-size: 1.2vw;
      font-weight: 400;
      line-height: 1;
      margin: 0 0 8px 0;
      padding: 0;
    }

    a, a:active {
      color: black;
      font-weight: 600;
    }
  }

  nav {
    grid-column: span 6;
    display: grid;
    grid-template-columns: subgrid;
    grid-column-end: 13;

    li {
      grid-column: span 2;
      text-align: right;
      list-style-type: none;
      padding: 4px 16px 8px 16px;
      font-family: 'Inter Tight Variable', sans-serif;
      position: relative;
      display: flex;
      &:hover {
        .link-descript {
          opacity: 1;
          transition: transform 0.3s ease-out 0.1s, opacity 0.3s ease 0.3s;
          transform: translateX(0);
        }
      }

      .link-text {
        text-decoration: underline;
      }


      a {
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        width: 100%;
        text-decoration: none;

        &:before {
          content: '';
          width: 2px;
          height: 100%;
          background: rgba(0,10,60,.05);
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          opacity: 0;
          transform: translateX(5%)

        }

        &:hover {
          z-index: 1;
          font-weight: 600;
          &:before {
            transition: transform 1s ease-out, opacity 0.5s ease 0.1s;
            width: 100%;
            transform: translateX(0);
            opacity: 1;
          }
        }

        .link-descript {
          font-size: 12px;
          font-family: 'IBM Plex Mono', monospace;
          font-weight: 300;
          display: block;
          text-decoration: none;
          margin-top: 16px;
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }
  }
</style>
