---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="title-block">
    <h1><span class="light">STORE</span>CRAFT</h1>
    <h2>thoughtful online shop engineering + passive <a href="#">self promotion</a></h2>
  </div>

  <nav>
    <li>
      <a href="#">
        <span class="link-text">summary</span>
        <span class="link-descript">about + resume</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-text">thoughts</span>
        <span class="link-descript">writings on eComm + development</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-text">contact</span>
        <span class="link-descript">ways to reach me</span>
      </a>
    </li>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0 8px 0;
    margin: 0 32px;
    border-bottom: 3px solid #000;
  }

  .title-block {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    padding-right: 32px;

    h1 {
      font-size: 5vw;
      line-height: 1.1;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
    }

    h2 {
      font-size: 1.4vw;
      font-weight: 400;
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    a, a:active {
      color: black;
      font-weight: 600;
    }
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    max-width: 45vw;
    justify-content: flex-end;

    li {
      text-align: right;
      list-style-type: none;
      padding: 8px 16px;
      display: flex;
      justify-content: stretch;
      font-family: 'Inter Tight Variable', sans-serif;
      position: relative;
      overflow: hidden;
      margin-left: 16px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        .link-descript {
          opacity: 1;
          transition: transform 0.3s ease-out 0.1s, opacity 0.3s ease 0.3s;
          transform: translateX(0);
        }
      }

      .link-text {
        text-decoration: underline;
      }


      a {
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        width: 100%;
        text-decoration: none;

        &:before {
          content: '';
          width: 2px;
          height: 100%;
          background: rgba(0,10,60,.1);
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          opacity: 0;
          transform: translateX(5%)

        }

        &:hover {
          z-index: 1;
          font-weight: 600;
          &:before {
            transition: transform 0.6s ease-out 0.1s, opacity 0.3s ease 0.2s;
            width: 100%;
            transform: translateX(0);
            opacity: 1;
          }
        }

        .link-descript {
          font-size: 12px;
          font-family: 'IBM Plex Mono', monospace;
          font-weight: 200;
          display: block;
          text-decoration: none;
          margin-top: 16px;
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }
  }
</style>
